.template body {
    margin: 0;
}

.template {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005a63;
    height: 100%;
}

.template .image-section img {
    width: 100%;
    border: #a6ce39 solid 50px;
}

.template .main {
    width: 100%;
    height: 100%;
}

.template .image-section {
    height: 60vh;
    width: 60vh;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -30vh 0 0 -30vh;
    z-index: 1;
}

.template .bottom-background {
    background-color: #a6ce39;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 62vh;

}

.template .text-container {
    position: absolute;
    bottom: 10%;

    text-align: center;
    color: #005a63;

    width: 100%;

}

.template .text-container h1 {
    font-size: 5em;
    font-weight: bold;
}

.template .text-container #text {
    font-size: 3.5em;
}