<div class="blue-right-text-template">
    <header class="header">
        <div id="head">
        </div>
        <div class="col-md-offset-2 col-md-4" id="title-container">
            <h1 id="title">Welcome to Park Library </h1>
        </div>
    </header>
    <main class="main">
        <div class="col-md-offset-1 col-md-6" id="imageWrapper">
            <img class="img-thumbnail img-responsive"
                 src="assets/default-placeholder.png" alt="placeholder">
        </div>
        <div class="col-md-5 ellipsis" id="text"></div>
    </main>
    <footer></footer>
</div>