.template4 {
	margin: 0;
	height: 80vh;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.template4 .header  {
	background-image: linear-gradient(#faa61a, #ffcb05, #ffe5a1, #fff8e6, #ffffff);
	text-align: center;
}

.template4 .header #head {
	background-image: url(./assets/colourbarsheader.png);
	background-repeat: repeat-x;
	height: 8px;
	width: 100%;
}

.template4 .jumbotron {
	border-radius: 0;
}

.template4 #imageWrapper img {
	height: 60vh;
}

.template4 main {
	font-size: 32px;
}

.template4 .content {
	padding-top: 15px;
}

.content li:nth-child(4n+0){
 color: #94070A; 
}
.content li:nth-child(4n+1){
 color: #A6CE42; 
}
.content li:nth-child(4n+2){
 color: #F57F29; 
}
.content li:nth-child(4n+3){
 color: #ED008C; 
}
.jumbotron h1{
	color: #25484C;
  font-weight: 900;
}
.content ul {
	list-style-type: none;
}
.content ul li{
 	padding: 10px 0; 
}