<body>
<div class="template container-fluid">
    <div class="colour-bar-header"></div>
    <div class="header-section">
        <div class="content">
            <img src="assets/circle-chevron-punch.svg" class="icon col-md-1">
            <h1 class="col-md-8" id="title">Title</h1>
            <div class="col-md-3">
                <img src="assets/UoG_White.png" class="logo">
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="image-section col-md-6" id="imageWrapper">
            <img src="assets/default-placeholder.png" class="img-responsive"/>
        </div>
        <div class="divider col-md-1"></div>
        <div class="content col-md-4" id="text">
            Content
        </div>
    </div>
</div>

</body>