.color-title-banner-template {
    background-color: rgb(250, 166, 26);
    height: 100vh;
}

.color-title-banner-template.container-fluid {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.color-title-banner-template .main {
    width: 100%;
    background-color: rgb(0, 90, 99);
    color: rgb(250, 166, 26);
    text-align: center;
    height: 30vh;
    margin-top: 35vh;

}

.color-title-banner-template h1 {
    margin: 0;
    padding-top: 0.5em;
    font-size: 7em;
}

.color-title-banner-template div {
    font-size: 5em;
}

.color-title-banner-template .ellipsis {
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}