<div class="hills-blue-template container-fluid">
	<div class="header-section">
		<div class="content">
			<!--<img src="assets/circle-chevron-punch.svg" class="icon col-md-1">-->
			<h1 class="col-md-8 col-md-offset-1">New Service Announcement</h1>
		</div>
	</div>
	<div class="main-section">
		<!--<img src="assets/emphasis-chevrons-lg.png" class="icon col-md-1">-->
		<div class="content col-md-offset-1 col-md-11" id="text">
			Content
		</div>
	</div>
	<div class="footer-section">
		<div class="col-md-offset-9 col-md-3">Libraries and IT</div>
	</div>
</div>