.blue-left-text-template body {
    margin: 0;
}

.blue-left-text-template {
    margin: 0;
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
}

.blue-left-text-template #titlecontainer h1 {
    font-size: 48px;
    text-align: center;
}

.blue-left-text-template::after {
    content: "";
    background: url("./assets/bg.svg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.blue-left-text-template #imageWrapper {
    width: 45%;
    margin-top: 4%;
}

.blue-left-text-template #text {
    margin-top: 12%;
    background-color: #FFFFFF;
    height: 60%;
    width: 44%;
    float: left;
    z-index: 1;
    padding-left: 80px;
    padding-top: 30px;
    position: absolute;
    left: 0;
    bottom: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 30px;
}

.col-md-offset-2 {
    margin-right: 14.66666667%;
}

.blue-left-text-template .text ul li {
    padding: 10px 0;
}

.blue-left-text-template .ellipsis {
    overflow: hidden;
    white-space: normal;
    width: 200px;
    word-wrap: break-word;
}