<div class="blue-left-text-template">
    <header class="header">
        <div id="head">
        </div>
        <div class="col-md-offset-6 col-md-5" id="title-container">
            <h1 id="title">Welcome to Park Library </h1>
        </div>
    </header>
    <main class="main">
        <div class="col-md-6 ellipsis" id="text"></div>
        <div class="col-md-offset-6 col-md-5" id="imageWrapper">
            <img class="img-thumbnail img-responsive"
                 src="assets/default-placeholder.png" alt="placeholder">
        </div>
    </main>
</div>