.fullscreen-banner-template {
    font-family: Arial, sans-serif;
}

.fullscreen-banner-template .fullscreen {
    width: 100%;
    height: 100%;
}

.fullscreen-banner-template .fullscreen img {
    display: block;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

.fullscreen-banner-template .banner {
    position: absolute;
    bottom: 5%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.fullscreen-banner-template .banner h1 {
    text-align: center;
    font-weight: bold;
}