body{
    margin: 0;
}
.template{
    font-family: Arial, sans-serif;
}

.template .fullscreen{
    width: 100%;
    height: 100%;
}

.template .fullscreen img{
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
}

.template .banner{
    position: absolute;
    bottom: 5%;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.template .banner h1{
    text-align: center;
}