body {
    background: white;
}

.nav-controller {
    display: none;
}

.h-space {
    margin: 25px 0;
}

.h-space2 {
    margin: 50px 0;
}

.horizontal-scrolling {
    overflow-x: scroll;
    white-space: nowrap;
}

.templates {
    width: 320px;
    height: 180px;
    margin: 5px 15px;
    display: inline-block;
    cursor: pointer;
}

.templates {
    opacity: 0.7;
}

.templates:hover {
    opacity: 1;
}

/*noinspection CssUnusedSymbol*/
.active-template {
    opacity: 1;
    border: solid 3px gray;
}

.head {
    margin-bottom: 15px;
}

.head h2 {
    display: inline-block;
    padding-left: 0;
}

.head .btn {
    float: right;
    margin-top: 20px;
    display: inline-block;
}

#template-container {
    width: calc(100% * 4 - 0px);
    height: calc(100% * 4 - 0px);
    border: solid 10px lightgray;
    overflow: hidden;
    -moz-transform: scale(0.24);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.24);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.hidden-button {
    background: none;
    border: none;
}

/*noinspection CssUnusedSymbol*/
.embed-responsive-9by16 {
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.6);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.6);
    -webkit-transform-origin: 0 0;
    margin-bottom: -40%;
    padding-bottom: 177.7%;
}


@media (max-width: 992px) {

    #navigation {
        padding-top: 70px;
        margin-top: -69px;
        height: 100%;
        position: fixed;
        z-index: 100;
        width: 300px;
        left: -240px;
    }

    .nav {
        padding-bottom: 25px;
    }

    .nav-content {
        z-index: 90;
        padding-top: 25px;
        margin-top: -70px;
        background: white;
        height: 102%;
        border-left: lightgray;
        border-style: double;
        border-width: 0 1px 0 0;
        overflow: scroll;
    }

    .nav-controller {
        display: block;
    }

    .nav-controller span {
        z-index: 80;
        border: solid 1px lightgray;
        padding: 15px 7px;
        margin-left: -1px;
        background: white;
    }

    /*noinspection CssUnusedSymbol*/
    #navigation.show-nav {
        animation: moveOut ease-in-out 0.25s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards; /*when the spec is finished*/
    }

    /*noinspection CssUnusedSymbol*/
    #navigation.hide-nav {
        animation: moveIn ease-in-out 0.25s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards; /*when the spec is finished*/
        /*left: -65%;*/
    }

    .list-group {
        margin-bottom: 0;
    }

}

span.error {
    color: red;
    font-weight: bold;
}

span.success {
    color: green;
    font-weight: bold;
}

.spacer { /* Name is ridiculous, I know... */
    display: inline-block;
}

span.bigInfo {
    font-family: sans-serif;
    color: gray;
    font-size: 23px;
    font-weight: normal;
}

@-webkit-keyframes moveIn {
    0% {
        left: 0;
    }
    100% {
        left: -240px;
    }
}

/* Standard syntax */
@keyframes moveIn {
    0% {
        left: 0;
    }
    100% {
        left: -240px;
    }
}

@-webkit-keyframes moveOut {
    0% {
        left: -240px;
    }
    100% {
        left: 0;
    }
}

/* Standard syntax */
@keyframes moveOut {
    0% {
        left: -240px;
    }
    100% {
        left: 0;
    }
}