.template {
    overflow: hidden;
    height: 80vh;
}

.template * {
    font-family: sans-serif;
}

.template h1 {
    font-weight: lighter;
    font-family: "Helvetica Neue", "SFUI", sans-serif;
    font-size: 110px;
    margin-top: 0;
    line-height: 200px;
}

.template #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: indianred;
}

.template #header h1 {
    padding: 0 20px;
}

.template #content {
    padding-top: 220px;
    padding-left: 50px;
}

.template #content #text {
    font-size: 30px;
}

.template #imageWrapper {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 240px;
    border: 1px solid lightgray;
}