body{
	margin: 0;
}

.template4 {
	height: 100%;
	width: 100%;
}

.template4 .header #title {
	background-image: linear-gradient(#faa61a, #ffcb05, #ffe5a1, #fff8e6, #ffffff);
	height: 20%;
}

.template4 .header #head {
	background: url('https://helpdeskapps.glos.ac.uk/forms/Content/images/header-jewel.png') repeat-x 0px 0px;
	height: 8px;
	width: 100%;
}

.template4 .header h1 {
	font-size: 36px;
	font-family: Century Gothic;
	margin: 0;
	padding: 20px 0 0 60px;
}

.template4 .main #text {
	margin-left: 60px;
	margin-top: 40px;
	width: 50%;
	height: 40%;
}

.template4 .main p {
	font-family: Gotham Book;
	font-size: 140%;
}



.template4 #image {
	float: right;
	position: absolute;
	right: 100px;
	bottom: 60px;
	height: 50%;
	border-radius: 20px;
}

.template4 #unilogo {
	float: left;
	opacity: 0.5;
	width: 30%;
	position: absolute;
	bottom: 18px;
	left: 0;
}

.template4 footer {
	background: url('http://moodle.glos.ac.uk/moodle/theme/image.php/uniglos/theme/1477402423/colourbars');
	height: 18px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.3;
}