.template4 {
	margin: 0;
	height: 80vh;
	width: 100%;
}

.template4 .header #titlecontainer {
	/*background-color: #ffe5a1;*/
	background-image: linear-gradient(#faa61a, #ffcb05, #ffe5a1, #fff8e6, #ffffff);
	/* position: absolute; */
	height: 20%;
	/* top: 8px; */
	/* left: 0; */
	/* right: 0; */
}

.template4 .header #head {
	background-image: url(./assets/colourbarsheader.png);
	background-repeat: repeat-x;
	height: 8px;
	width: 100%;
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
}

.template4 .header #title {
	font-size: 100px;
	font-family: Century Gothic;
	margin: 0;
	padding: 20px 0 0 60px;
}

.template4 .main #text {
	margin-left: 60px;
	margin-top: 40px;
	/* clear: both; */
	width: 50%;
	height: 40%;
	/* float: left; */
	/* position: absolute; */
	/* top: 15%; */
	/* background: radial-gradient(#fff1cc, #fff8e6, #ffffff 80%); */
}

.template4 .main p {
	font-family: Gotham Book;
	font-size: 140%;
	/* padding-left: 24%; */
	/* padding-top: 10%; */
}



.template4 #imagewrapper img {
	float: right;
	position: absolute;
	right: 100px;
	bottom: 60px;
	/* padding-top: 80px; */
	/* padding-right: 100px; */
	height: 50%;
	border-radius: 20px;
}

.template4 #unilogo {
	/* margin-left: 1%; */
	float: left;
	/* padding-top: 34%; */
	opacity: 0.5;
	width: 30%;
	position: absolute;
	bottom: 18px;
	left: 0;
}

.template4 footer {
	background-image: url(./assets/colourbarsfooter.png);
	height: 18px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.3;
}